body{
    background-color: rgb(203, 203, 203);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    font-size: 50px;
}
#total{
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    display: flex;
    justify-content: space-around;
}
.tasks{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}