body{
    margin: 0;
    
}

header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
.background{
    
    background-image: url("../Aufgabe4/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    
}

.body{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    
}

.body2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    
}

.body3{
    margin: 100px;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav{
    margin: 10px;

}

a{
    color: gray;
}
#fa{
    color: black;
    font-size: 30px;
}


a:hover {
    
    color: white;
}

footer{
    background-color: rgb(219, 219, 219);
    padding: 3px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}

#name1{
    background-color: rgb(100, 100, 100);
    color: white;
    cursor:auto;
    width: 400px;
}
#email2{
    background-color: rgb(100, 100, 100);
    color: white;
    cursor:auto;
    width: 400px;
}
#message3{
    background-color: rgb(100, 100, 100);
    color: white;
    cursor:auto;
    width: 400px;
    height: 150px;
    
}
textarea::placeholder{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
   
}
textarea{
    resize: none;
}
input{
    background-color: rgb(100, 100, 100);
    color: white;
    cursor: pointer;
    
}
#discord{
    
}

