body{
    background-color: #808080;
}
.tasten{
    display: flex;
    justify-content: center;
}
.white{
    height: 450px;
    width: 100px;
}
.black{
    background-color: #000000;
    height: 450px;
    width: 50px;
}
.play{
    margin-top: 100px;  
    margin-left: 45%;
    color: #ffffff;
    font-size: 100px;
}
#stop{
   
}
.hidden{
    display: none !important;
}



