body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}


header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
.background{
    animation-name: ChangeBackground;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-image: url("../Aufgabe5/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 400px;
    width: 100%;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    
}

@keyframes ChangeBackground{
    0%, 100% {background-image: url("../Aufgabe5/background.jpg");}
    50% {background-image: url("../Aufgabe5/background2.jpg");}
}


.body{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
    
}

.body2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;
    
}

.body3{
    margin: 100px;
    
}

nav{
    margin: 10px;

}

a{
    color: gray;
}
#fa{
    color: black;
    font-size: 30px;
}

.Bild img:hover{
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    scale: 120%;

}

#fixedimage{
    position: fixed;
    right: 100px;
    z-index: 2;
}


a:hover {
    color: white;
}

footer{
    background-color: rgb(219, 219, 219);
    padding: 3px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#name1{
    background-color: rgb(100, 100, 100);
    color: white;
    cursor:auto;
    width: 400px;
}
#email2{
    background-color: rgb(100, 100, 100);
    color: white;
    cursor:auto;
    width: 400px;
}
#message3{
    background-color: rgb(100, 100, 100);
    color: white;
    cursor:auto;
    width: 400px;
    height: 150px;
    
}
textarea::placeholder{
    color: white;
   
}
textarea{
    resize: none;
}
input{
    background-color: rgb(100, 100, 100);
    color: white;
    cursor: pointer;
    
}
.discord a{
    opacity: 0.5;
}


.discord  a:hover{
    opacity: 1;
}